<!DOCTYPE html>

<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventify - Certificados</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>



<body class="paginacertificados">


  <header>
    <a href="index.html">
      <img src="{% static 'images/logo.png' %}" alt="Eventify Logo" class="logo">
    </a>

    <div class="menu-toggle" id="menu-toggle">
      ☰
    </div>

    <nav id="nav-menu">
      <a href="eventos.html">EVENTOS</a>
      <a href="certificados.html">MEUS CERTIFICADOS</a>
      <a href="meuseventos.html">MEUS EVENTOS</a>
      <a href="perfil.html">PERFIL</a>
      <a href="{% url 'logout' %}">SAIR</a> 
    </nav>
  </header>



  <h2 class="h2perfil">Meu perfil</h2>

  <div class="perfil-container">
    <img src="{% static 'images/perfil.png' %}" alt="Foto de Perfil">

    <div class="dados-perfil">
      
      <div class="campo">NOME: {{ usuario.nome | default:"Não informado" }}</div>
      <div class="campo">CURSO: {{ usuario.curso | default:"Não informado" }}</div>

      <div class="campo">DATA DE NASCIMENTO: {{ usuario.data_nascimento | default:"Não informado" }}</div>
      <div class="campo">SEMESTRE: {{ usuario.semestre | default:"Não informado" }}</div>

      <div class="campo">ENDEREÇO: {{ usuario.endereco | default:"Não informado" }}</div>
      <div class="campo">INSTITUIÇÃO: {{ usuario.instituicao | default:"Não informado" }}</div>

      <div class="campo">EMAIL: {{ usuario.email | default:"Não informado" }}</div>
      
      <div class="campo">LOGIN: {{ usuario.login | default:"Não informado" }}</div>
    </div>
  </div>

  </div>

</body>

<script>
  const menuToggle = document.getElementById('menu-toggle');
  const navMenu = document.getElementById('nav-menu');

  menuToggle.addEventListener('click', () => {
    navMenu.classList.toggle('active');
  });
</script>

</html>